<center><h1>Editing Post</h1></center><br><br>

<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
 <% if @post.errors.any? %>
 <div id="error_explanation">
   <h2><%= pluralize(@post.errors.count, "error") %> prohibited
     this post from being saved:</h2>
   <ul>
   <% @post.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
 <% end %>

<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-10 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="panel-heading">              
                    <h3><%= f.label :talker %><br>
   <%= f.text_field :talker %></h3><br>
                    <h4> <%= f.label :title %><br>
   <%= f.text_field :title %></h4>
                </div>
                <div class="panel-body"><br>
                    <h4><%= f.label :text %><br>
   <%= f.text_area :text ,:cols => "70", :rows => "20"%></h4>
   <div style = "float: right">
                 <p>
   <%= f.submit %>
 </p></div>
                </div>

              
               
                                                        <div style="float: right">
<br><%= link_to 'Back', posts_path %>

</div>
            </div>
        </div>
        

    </div>
</div>

<% end %>